.meet-the-team {
  padding: 120px 70px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.meet-the-team h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.313rem;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
  text-align: center;
}

.meet-the-team p {
  font-size: 1rem;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  color: #333333;
  text-align: center;
  line-height: 2;
  margin-bottom: 40px;
}

.team-member {
  background-color: #002f6c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 40px 40px 40px 0;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.15);
}

.team-member-img {
  max-width: 300px;
  max-height: 250px;
  overflow: hidden;
  border-radius: 40px 40px 0 0;
}

.team-member-mask {
  overflow: hidden;
  width: 100%;
}

.team-member h3 {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  margin-top: 10px;
  color: #fff;
}

.team-member p {
  width: 100%;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  margin-bottom: 10px;
  border-bottom: 1px solid #1e4ba0;
  color: #fff;
}

.team-member span {
  font-size: 0.7rem;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: #fff;
}

@media (max-width: 1330px) {
  .meet-the-team {
    padding: 70px 60px;
  }

  .team-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .meet-the-team h1 {
    font-size: 2.7rem;
  }

  .meet-the-team p {
    font-size: 1.3rem;
  }

  .team-member-img {
    max-width: 280px;
    max-height: 350px;
  }

  .team-member h3 {
    font-size: 1.1rem;
  }

  .team-member p {
    width: 100%;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-family: Montserrat, sans-serif;
    margin-bottom: 10px;
    border-bottom: 1px solid #1e4ba0;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .meet-the-team {
    padding: 70px 40px;
  }

  .team-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .meet-the-team h1 {
    font-size: 2.3rem;
  }

  .meet-the-team p {
    font-size: 1.1rem;
  }

  .team-member-img {
    min-width: 300px;
    min-height: 350px;
  }

  .team-member h3 {
    font-size: 1.1rem;
  }

  .team-member p {
    width: 100%;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-family: Montserrat, sans-serif;
    margin-bottom: 10px;
    border-bottom: 1px solid #1e4ba0;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .meet-the-team {
    padding: 70px 20px;
  }

  .team-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .meet-the-team h1 {
    font-size: 2.2rem;
  }

  .meet-the-team p {
    font-size: 1rem;
  }

  .team-member-img {
    min-width: 200px;
    min-height: 200px;
  }

  .team-member h3 {
    font-size: 1.1rem;
  }

  .team-member p {
    width: 100%;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-family: Montserrat, sans-serif;
    margin-bottom: 10px;
    border-bottom: 1px solid #1e4ba0;
    color: #fff;
  }
}

@media (max-width: 640px) {
  .meet-the-team {
    padding: 70px 60px;
  }

  .team-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .meet-the-team h1 {
    font-size: 2.1rem;
  }

  .meet-the-team p {
    font-size: 0.9rem;
  }

  .team-member-img {
    min-width: 400px;
    min-height: 400px;
  }

  .team-member h3 {
    font-size: 1.1rem;
  }

  .team-member p {
    width: 100%;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-family: Montserrat, sans-serif;
    margin-bottom: 10px;
    border-bottom: 1px solid #1e4ba0;
    color: #fff;
  }
}

@media (max-width: 480px) {
  .meet-the-team {
    padding: 70px 40px;
  }

  .team-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .meet-the-team h1 {
    font-size: 2rem;
  }

  .meet-the-team p {
    font-size: 0.8rem;
  }

  .team-member-img {
    min-width: 350px;
    min-height: 350px;
  }

  .team-member h3 {
    font-size: 1.1rem;
  }

  .team-member p {
    width: 100%;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-family: Montserrat, sans-serif;
    margin-bottom: 10px;
    border-bottom: 1px solid #1e4ba0;
    color: #fff;
  }
}
