.real-estate-hero {
    padding: 90px 0 0 0;
    display: flex;
}

.real-estate-text {
    background-color: rgb(0, 23, 81);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 160px;
    gap: 20px;
}

.real-estate-text h1 {
    font-size: 3rem;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

.real-estate-text p {
    font-size: 1rem;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.real-estate-text a button {
    font-size: 1rem;
    background-color: #267df0;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.real-estate-text a button:hover {
    background-color: #002f6c;
}

.real-estate-agent {
    overflow: hidden;
        width: 1800px;
    height: 500px;
}

.real-estate-agent img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.hello {
    background-color: #fff;
}

.agents-container {
    padding: 70px 70px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agents-container h1 {
      font-weight: 700;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.313rem;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
  text-align: center;
  font-size: 3rem;
}

.mobile-propty-container {
display: grid;
  grid-template-columns: 1fr 1fr;
}

.agent-card {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  border: 1px solid rgb(209, 209, 213);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  transition: all 0.3s ease;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  position: relative;
}

.image-et-attribute {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.land-img {
  max-width: 150px;
  max-height: 150px;
  z-index: 1;
}

.land-img img {
  max-width: 150px;
  height: 150px;
  object-fit: cover;
}

.agent-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.agent-name-et-agency {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.agent-name-et-agency h3 {
    font-size: 20px;
  color: rgb(42, 42, 51);
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.agent-name-et-agency span {
    color: #333333;
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.agent-info p {
    color: #333333;
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.star-rating {
    display: flex;
}

.not-found {
  text-align: center;
  width: 100%;
  padding: 10px 30px;
}

.not-found p {
  font-size: 1.125rem;
  color: red;
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.not-found span {
  font-size: 0.9rem;
  color: #333;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.full-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.agent-info-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.agent-info-desc p {
    text-align: left;
}

@media (max-width: 1024px) {
    .real-estate-text {
    background-color: rgb(0, 23, 81);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 40px 30px 70px;
    gap: 20px;
}

.real-estate-text h1 {
    font-size: 2.8rem;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

.real-estate-text p {
    font-size: .9rem;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.real-estate-text a button {
    font-size: 1rem;
    background-color: #267df0;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 5px;
}

.real-estate-text a button:hover {
    background-color: #002f6c;
}

.real-estate-agent {
    overflow: hidden;
        width: 2800px;
    height: 500;
}

.real-estate-agent img {
    width: 500px;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.agents-container {
    padding: 70px 20px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agents-container h1 {
      font-weight: 700;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.313rem;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
  text-align: center;
  font-size: 2.5rem;
}

.agent-card {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  border: 1px solid rgb(209, 209, 213);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  transition: all 0.3s ease;
  max-width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}

.image-et-attribute {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.land-img {
  max-width: 150px;
  max-height: 150px;
  z-index: 1;
}

.land-img img {
  max-width: 150px;
  height: 150px;
  object-fit: cover;
}

.agent-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.agent-name-et-agency {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.agent-name-et-agency h3 {
    font-size: 20px;
  color: rgb(42, 42, 51);
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.agent-name-et-agency span {
    color: #333333;
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.agent-info p {
    color: #333333;
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.star-rating {
    display: flex;
}

.not-found {
  text-align: center;
  width: 100%;
  padding: 10px 30px;
}

.not-found p {
  font-size: 1.125rem;
  color: red;
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.not-found span {
  font-size: 0.9rem;
  color: #333;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.full-grid {
  display: grid;
  grid-template-columns: 1fr;
}
}

@media (max-width: 768px) {
    .real-estate-hero {
    padding: 90px 0 0 0;
    display: flex;
    height: 62vh;
    margin-bottom: 40px;
}

    .real-estate-text {
    background-color: rgb(0, 23, 81);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 30px 30px 50px;
    gap: 20px;
    height: 62vh;
}

.real-estate-text h1 {
    font-size: 36px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

.real-estate-text p {
    font-size: .9rem;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.real-estate-text a button {
    font-size: 1rem;
    background-color: #267df0;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 5px;
}

.real-estate-text a button:hover {
    background-color: #002f6c;
}

.real-estate-agent {
    overflow: hidden;
        width: 1000px;
    max-height: 62vh;
}

.real-estate-agent img {
    width: 500px;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.agents-container {
    padding: 100px 20px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agents-container h1 {
      font-weight: 700;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.313rem;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
  text-align: center;
  font-size: 2.3rem;
}

.mobile-propty-container {
display: grid;
  grid-template-columns: 1fr;
}

.agent-card {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  border: 1px solid rgb(209, 209, 213);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  transition: all 0.3s ease;
  max-width: 100%;
  height: 230px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}
}

@media (max-width: 480px) {
    .real-estate-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .real-estate-text h1, p {
        text-align: center;
    }

    .real-estate-text a button {
        width: 100%;
    }

    .real-estate-agent {
        display: none;
    }

    .agents-container {
    padding: 100px 20px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agents-container h1 {
      font-weight: 700;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.313rem;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.5rem;
}

.mobile-propty-container {
display: grid;
  grid-template-columns: 1fr;
}

.agent-card {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  border: 1px solid rgb(209, 209, 213);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  transition: all 0.3s ease;
  max-width: 100%;
  height: 260px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}

.agent-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
}